@import url('https://fonts.googleapis.com/css2? family= Abril+Fatface & family= Barlow+Condensed:wght@200 & family= Nunito:wght@300 & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Abril+Fatface & family= Barlow+Condensed:wght@200 & famille= Montserrat:wght@200 &family= Nunito:wght@300 & display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

nav{
    margin-right: 175px;
    word-spacing: 10px;
}

#logo{
    margin-left: 150px;
    width: 200px;
    height: 200px;  
}

.lien{
    text-decoration: none;
   }

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-left: 400px;
    padding-top: 100px;
    padding-right: 510px;
}





fieldset {
    position: relative;
    height: 110vh;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
}

h2.contactez-nous {
    font-family: 'Abril Fatface';
    color: #d25976;
    position: absolute;
    padding-left: 50px;
    display: flex;
    align-content: flex-start;
}


.illustration {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}


.illustration img {
    height: 40%;
    width: 40%;
    margin-right: 20px;
}


.formulaire {
    position: absolute;
    height: auto;
    width: 90%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-end;
}

input {
    width: 50%;
}

select {
    width: 50%;
}


textarea#msg {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;

}

.bouton {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input.envoyer {
    font-weight: bold;
    background-color: rgba(16, 16, 80, 0.849);
    border: 1px solid rgba(5, 5, 48, 0.651);
    color: white;
    width: 150px;
    height: 50px;
    padding: 5px;
}

.envoyer {
    background-color: #4CAF50; 
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px; 
    cursor: pointer; 
  }
  
  input.envoyer:hover {
    background-color: #3e8e41;
  }
  
  input.envoyer:active {
    background-color: #1e5227;
  }