body {
    border: 1px solid black;
    margin: 30px;
    font-family: 'Montserrat', sans-serif;
}

a:hover {
    color: rgb(70, 0, 128);
    font-weight: bold;
}

a {
    text-decoration:none;
}
   
a { color: #d25976; }
    .plus { color: #d25976;}

main{
    margin-left: 150px;
    margin-right: 150px;
    font-family: 'Montserrat';
    margin-bottom: 500px;
}

header {
    background-color: white;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header1 {
    background-color: white;
    margin-left: 20px;
    margin-right: 168px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header2 {
    background-color: white;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header3 {
    background-color: white;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header4 {
    height: 250px;
    width: 100%;
    margin: 0;
}


nav{

    word-spacing: 10px;
    
}

.nav1 {
    word-spacing: 10px;
    margin-right: 100px;
}

.nav2 {
    word-spacing: 10px;
    margin-right: 250px;
}

.nav3 {
    word-spacing: 10px;
    margin-right: 400px;
}

.nav4 {
    margin-right: 225px;
}

.cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
    text-align: center;
    gap: 500px;
}

.box2 {
    gap: 10px;
    width: 400px;
   
}

.h1 {
    font-family: 'Abril Fatface', cursive;
    color: #d25976;
    font-size: 50px;
}

.h22 {
    font-size: 40px;
}

.cont2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    
    
}

.p1 {
    width: 500px;
}

.img1 {
    width: 400px;
    height: 400px;
    order: 2;
    
}

.img2 {
    width: 200px;
    height: 50px;
    padding-right: 10px;
    
}

.bvn {
    order: 1;
    width: 750px;
    
    
}

.cont3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    
    
}

.img3 {
    width: 650px;
    height: 400px;
    flex: 1;
    
}

.cont4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    
}

.cont5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    
}

.lorem {
    width: 600px;
}

h1 {
    color: #d25976;
}

.plus {
    color: #d25976;
}

#blog{
    color: blue;
    
}

.lien {
    color: black;
}

/*apropos post*/
.h111 {
    font-family: 'Abril Fatface', cursive;
    color: #d25976;
    padding-left: 200px;
}

.h222{
    padding-left: 200px;
    color: blue;
    
}

h3{
    padding-left: 200px;
    color: blue;
}

h4{
    color: #d25976;
    font-size: 40px;
}

/*ID*/

#logo{
    width: 200px;
    height: 200px;
    margin-left: 280px;
}

#logo2{
    width: 200px;
    height: 200px;
    margin-left: 180px;
}

#logo3{
    width: 200px;
    height: 200px;
    margin-left: 200px;
}

#logo4{
    width: 200px;
    height: 200px;
    margin-left: 175px;
}

#mac{
    padding-left: 200px;
    width: 1050px;
    height: 700px;
   }

#parah1{
    padding-left: 200px;
    padding-right: 250px;
    text-align: justify;
}

#parah2{
    padding-left: 200px;
    padding-right: 250px;
    text-align: justify;
}

#parah3{
    padding-left: 200px;
    padding-right: 250px;
    text-align: justify;
    
}

#blog{
    color: rgb(70, 0, 128);
    text-decoration: none;
    font-weight: bold;
}

.nous {
    width: 100%;
    font-weight: bold;
    padding-left: 75px;
    padding-top: 20px;
}



/*Pour changer la taille et la position des images*/
#twitter{
    width: 17px;
    padding-right: 5px;
}

#linkedin{
    width: 17px;
    padding-right: 5px;
}

#medium{
    width: 17px;
    padding-right: 5px;
}

#illustration1 {
    height: 470px;
    width: 500px;
    margin-left: 150px;
    

}



/*Pour changer le style des liens*/

#lientwitter{
    text-decoration: none;
    color: white;

}

#lienlinkedin{
    text-decoration: none;
    color: white;


}

#lienmedium{
    text-decoration: none;
    color: white;

}


/*Class*/

.lien{
    text-decoration: none;
   }

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-left: 400px;
    padding-top: 100px;
    padding-right: 510px;
    margin-right: 100px;
    
    
    
}

.grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-left: 500px;
    padding-top: 100px;
    padding-right: 800px;
    margin-right: 100px;
    gap: 40px;
    
}

.twitter{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 175px;
    height: 40px;
    background-color: #1DA1F2 ;
    color: white;
    text-align: center;
    padding-top: 20px;
    margin-top: -257px;
    margin-left: -150px;
    
    
    
    
}

.linkedin{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    width: 175px;
    height: 40px;
    background-color: #0072B1 ;
    color: white;
    text-align: center;
    padding-top: 20px;
    margin-top: -257px;
    margin-left: -150px;
}

.medium{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    width: 175px;
    height: 40px;
    background-color: black ;
    color: white;
    text-align: center;
    padding-top: 20px;
    margin-top: -257px;
    margin-left: -150px;
}

.apropos{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 660px;
    height: 100px;
    margin-left: -150px;
    
}

.apropos2 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 660px;
    height: 100px;
    margin-left: -150px;
    margin-top: -500px;
}

.illustration{
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 4;
    margin-left: 100px;
    margin-top: 40px;
}

.illustration2 {
    height: 100px;
    width: 100px;
    margin-top: -500px;
    
    
}

div.illustration2 img{
    height: 360px;
    width: 360px;
    
    
}
/*formulaire*/

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-left: 400px;
    padding-top: 100px;
    padding-right: 510px;
}


fieldset {
    position: relative;
    height: 80vh;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
}

h2.contactez-nous {
    font-family: 'Abril Fatface';
    color: #d25976;
    position: absolute;
    padding-left: 20px;
    display: flex;
    align-content: flex-start;
}


.illustration {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}


.illustration img {
    height: 40%;
    width: 40%;
    margin-right: 150px;
}


.formulaire {
    position: absolute;
    height: auto;
    width: 90%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-end;
}

input {
    width: 50%;
}

select {
    width: 50%;
}


textarea#msg {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;

}

.submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

input.envoyer {
    font-weight: bold;
    background-color: rgba(16, 16, 80, 0.849);
    border: 1px solid rgba(5, 5, 48, 0.651);
    color: white;
    width: 150px;
    height: 50px;
    padding: 5px;
    margin-left: 800px;
}

.envoyer {
    background-color: #4CAF50; 
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px; 
    cursor: pointer; 
  }

  input.envoyer:hover {
    background-color: #3e8e41;
  }

  input.envoyer:active {
    background-color: #1e5227;
  }

.input22 {
    width: 50%;
    box-sizing: border-box;
}



/* Page CV */

.fond {
    background-image: url(images/fond.jpg);
    border: 0;
    margin: 0;
    height: 125vh;
}

.présentation {
    border: 1px solid white;
    box-shadow: 0px 0px 10px rgba(35, 35, 58, 0.349);
    background-color: white;
    border-radius: 10px;
    margin-top: 100px ;
    margin-left: 15%;
    margin-right: 15%;
    padding: 10px;
}


.présentation img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

h3.titre-présentation {
    margin: 0;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #d25976;
}

#Titre-Benoit {
    display: flex;
    justify-content: flex-end;
    padding-right: 200px;
}

.présentation p {
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}

.Alexis {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
}

.Alexis p {
    padding: 10px 10px 10px 20px;
}



.Benoit {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    gap: 15px;
}

.Benoit p {
    padding: 10px 20px 10px 10px;
}




.Cecile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
}

.Cecile p {
    padding: 10px 10px 10px 20px;
}
