body{
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

nav{
    padding-right: 425px;
    word-spacing: 10px;
}

h1{
    padding-left: 400px;
    font-family: 'Abril Fatface', cursive;
    color: #d25976;
}

h2{
    padding-left: 400px;
    color: blue;
    
}

h3{
    padding-left: 400px;
    color: blue;
}

h4{
    color: #d25976;
    font-size: 40px;
}

/*ID*/

#logo{
    width: 200px;
    height: 200px;
    padding-left: 400px;
   }

#mac{
    padding-left: 400px;
    width: 1050px;
    height: 700px;
   }

#parah1{
    padding-left: 400px;
    padding-right: 400px;
}

#parah2{
    padding-left: 400px;
    padding-right: 400px;
}

#parah3{
    padding-left: 400px;
    padding-right: 400px;
}



/*Pour changer la taille et la position des images*/
#twitter{
    width: 17px;
    padding-right: 5px;
    
}

#linkedin{
    width: 17px;
    padding-right: 5px;
}

#medium{
    width: 17px;
    padding-right: 5px;
}

#illustration{
    height: 300px;
}

/*Pour changer le style des liens*/

#lientwitter{
    text-decoration: none;
    color: white;

}

#lienlinkedin{
    text-decoration: none;
    color: white;


}

#lienmedium{
    text-decoration: none;
    color: white;

}


/*Class*/

.lien{
    text-decoration: none;
   }

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-left: 400px;
    padding-top: 100px;
    padding-right: 510px;
    
    
}

.twitter{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 210px;
    height: 40px;
    background-color: #1DA1F2 ;
    color: white;
    text-align: center;
    padding-top: 20px;
    margin-top: 100px;
}

.linkedin{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    width: 210px;
    height: 40px;
    background-color: #0072B1 ;
    color: white;
    text-align: center;
    padding-top: 20px;
    margin-top: 100px;
}

.medium{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    width: 210px;
    height: 40px;
    background-color: black ;
    color: white;
    text-align: center;
    padding-top: 20px;
    margin-top: 100px;
}

.apropos{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 660px;
    height: 100px;
}

.illustration{
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 4;
    margin-left: 100px;
    margin-top: 40px;
}


