body {
    border: 1px solid black;
    margin: 30px;
   
}

main{
    
    margin-left: 150px;
    margin-right: 150px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Anuphan', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 500px;
    
}

.cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
    text-align: center;
    gap: 500px;
}

.box2 {
    gap: 10px;
    width: 400px;
   
}

.h1 {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Anuphan', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    color: #d25976;
    font-size: 50px;
}

.h2 {
    font-size: 40px;
}

.cont2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    
    
}

.p1 {
    width: 500px;
}

.img1 {
    width: 400px;
    height: 400px;
    order: 2;
    
}

.img2 {
    width: 200px;
    height: 50px;
    
}

.bvn {
    order: 1;
    width: 750px;
    
    
}

.cont3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    
    
}

.img3 {
    width: 650px;
    height: 400px;
    flex: 1;
    
}

.cont4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    
}

.cont5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    
}

.lorem {
    width: 600px;
}

h1 {
    color: #d25976;
}

.plus {
    color: #d25976;
}

